
body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #EEEEEE;
    font-size: 18px;
}

*{
    box-sizing: border-box;
}
.carga {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #393e46ee;
    line-height: 100vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: desvanecer 6s linear;
}
@keyframes desvanecer{
    0%
    {
      opacity: 1;
    }
    50%
    {
      opacity: 1;
    }
    70%
    {
      opacity: 0;
    }
    100%
    {
      opacity: 0;
    }
  }

.imagenCarga {
    width: 10rem;
    position: absolute;
    
}

.carga svg{
    width: 16rem;
    height: 16rem; 
    transform: rotate(-90deg);
  }
  
.carga svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 2;  
    
    stroke: rgb(19, 197, 43);
    stroke-linecap: round;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: animateC 6s linear;
    
  }
  
  @keyframes animateC{
    0%
    {
      stroke-dashoffset: 400;
    }
    20%
    {
      stroke-dashoffset: 300;
    }
  
    30%
    {
      stroke-dashoffset: 240;
      
    }
  
    50%
    {
      stroke-dashoffset: 143;
      stroke: rgb(0, 217, 255);
      
    }
    100%
    {
      stroke-dashoffset: 0;
      
    }
    
  }
.navbar{
    margin: 0;
    height:50px;
    box-shadow: 0px 2px 7px 0; 
}
.nav-link{
  color: white;
}
.nav-link:hover{
background-color: rgba(255, 255, 255, 0.171);
border-bottom: 1px solid white;
}
 /* nav{
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #eaeaea;
    transition: top 500ms ease-in-out;
}  */
.sobreMiImg{
    border-radius: 50%;
    width: 150px;
    margin: 10px;        
}

 .App{

align-items: center;
justify-content: center;
text-align: center;
flex-direction: column;
opacity: 0;
} 
.imgNav{
    width: 4rem;
}
#formulario{  
    background-color: #4ecca270;
    border-radius: 10px; 
    box-shadow: 0px 2px 7px 0; 
}
#formulario h2{
    background-color: #393e46b0; 
    color: white;
    border-radius: 0px 0px 15px 15px;
}
#sobreMi{
    margin-top: 25px;
    width: 50rem; 
    background-color: #ffffff;
     
}
#sobreMi h5{
    background-color: #393e46b0; 
    color: white;
    border-radius: 0px 0px 15px 15px;
}
.tecnologias{
    display: grid;
    max-width: 1360px;
    gap: 1.2rem;
    grid-auto-rows: 8rem;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    justify-items: center;
    margin: 0;
    background-color: #4ecca270;
    padding: 10px;
    box-shadow: 0px 2px 7px 0px;
}
.tecnologias-items{
    width: 8rem;
    height: 8rem;
}
.tecnologias img{   
    height: 70%;
    object-position: center;
    object-fit: cover;
}
#habilidades{ 
    background-color: #393e46b0; 
    color: white;
    border-radius: 0px 0px 15px 15px;
}
.hab-body{
    margin: 0 auto;
    max-width: 70%;
    display: block;
    align-items: center;
    overflow: hidden;
    padding: 0.625rem;
    background-color:rgba(255, 255, 255, 0.51);
    border-radius: 20px;
       
}
.hab-body li{
    list-style: none;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    margin: 5px;
}
.hab-li{   
    background-color: white;
}
#equipo{
    font-size: .60em;
    color: rgba(204, 204, 204, 0);
    border-radius: 5px 5px 5px 5px;        
    width: 97%;
    background: linear-gradient(270deg,#018a08ce,hsla(110, 100%, 50%, 0.692));
}
#perseverancia{
    font-size: .60em;
    color: rgba(204, 204, 204, 0);
    border-radius: 5px 5px 5px 5px;        
    width: 90%;
    background: linear-gradient(270deg,#018a08ce,hsla(110, 100%, 50%, 0.692));
}
#aprendizaje{
    font-size: .60em;
    color: rgba(204, 204, 204, 0);
    border-radius: 5px 5px 5px 5px;        
    width: 94%;
    background: linear-gradient(270deg,#018a08ce,hsla(110, 100%, 50%, 0.692));
}
#orientacion{
    font-size: .60em;
    color: rgba(204, 204, 204, 0);
    border-radius: 5px 5px 5px 5px;        
    width: 86%;
    background: linear-gradient(270deg,#018a08ce,hsla(110, 100%, 50%, 0.692)); 
}
#proyectos{
    background-color: #393e46b0; 
    color: white;
    border-radius: 0px 0px 15px 15px;
}
#metodologias{
    background-color: #393e46b0; 
    color: white;
    border-radius: 15px 15px 15px 15px;
}
#patrones{
    background-color: #393e46b0; 
    color: white;
    border-radius: 15px 15px 15px 15px;
}
#scrum{
    font-size: .60em;
    color: rgba(204, 204, 204, 0);
    border-radius: 5px 5px 5px 5px;        
    width: 70%;
    background: linear-gradient(270deg,#6a018ace,hsla(110, 100%, 50%, 0.692)); 
}
#mvc{
    font-size: .60em;
    color: rgba(204, 204, 204, 0);
    border-radius: 5px 5px 5px 5px;        
    width: 90%;
    background: linear-gradient(270deg,#01218ace,hsla(110, 100%, 50%, 0.692)); 
}
#mvp{
    font-size: .60em;
    color: rgba(204, 204, 204, 0);
    border-radius: 5px 5px 5px 5px;        
    width: 75%;
    background: linear-gradient(270deg,#01218ace,hsla(110, 100%, 50%, 0.692)); 
}
a{
    color: black;
    text-decoration: none;

}
.proyectoSoft,.proyectoLote{
    padding: 0;
    width: 100%;
}
.proyectoApp{
    padding: 0;
    width: 30%;
}

#grid-proyecto{
    display: grid;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    font-size: 1rem;
}
.proyecto:hover{   
    box-shadow: 0 4px 4px rgba(0, 0, 0,0.4);
}
input,textarea{    
width: 70%;
margin: 10px;
border: none;
}
.fondo img{
    position: absolute;
    left: 0;
    top: 50px;
    width: 68.5%;
    
    /* background-image: url(/assets/img/fondo.gif); */
  
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  */
}
input:hover,textarea:hover{    
    width: 74%;
    border-bottom: 1px solid rgb(0, 0, 0);
    }
input[type=submit]:hover{
background-color: #393e46fb;
color: white;
font-weight: bold;
}
/* .links{
    display:flex;
    margin: 0 -1em;
}
.links a {
display: inline-block;
margin: 0 1em;
} */
/* .logo{
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
} */

/* nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
} */
label{
    margin: 10px;
    }

@media (max-width: 400px) {
    #formulario input,textarea{  
        width: 100%;

    }
    #navbarNav{
     background-color: #393e46ee;
    }
    .tecnologias {
        gap: 2rem;
        grid-auto-rows: 5rem;
        grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    }
    .imgNav{
        max-width: 2.70rem;   
        
    }
}
@media (max-width: 990px) {
    #formulario input,textarea{  
        width: 100%;

    }
    .fondo{
        opacity: 0;
    }
    #navbarNav{
     background-color: #393e46ee;
    }
    .tecnologias {
        gap: 2rem;
        grid-auto-rows: 5rem;
        grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    }
    .imgNav{
        max-width: 2.70rem;   
        
    }
}

