body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background-color: #EEEEEE;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.carga {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(57, 62, 70, 0.9333333333);
  line-height: 100vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: desvanecer 6s linear;
          animation: desvanecer 6s linear;
}

@-webkit-keyframes desvanecer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes desvanecer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.imagenCarga {
  width: 10rem;
  position: absolute;
}

.carga svg {
  width: 16rem;
  height: 16rem;
  transform: rotate(-90deg);
}

.carga svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 2;
  stroke: rgb(19, 197, 43);
  stroke-linecap: round;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: animateC 6s linear;
          animation: animateC 6s linear;
}

@-webkit-keyframes animateC {
  0% {
    stroke-dashoffset: 400;
  }
  20% {
    stroke-dashoffset: 300;
  }
  30% {
    stroke-dashoffset: 240;
  }
  50% {
    stroke-dashoffset: 143;
    stroke: rgb(0, 217, 255);
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes animateC {
  0% {
    stroke-dashoffset: 400;
  }
  20% {
    stroke-dashoffset: 300;
  }
  30% {
    stroke-dashoffset: 240;
  }
  50% {
    stroke-dashoffset: 143;
    stroke: rgb(0, 217, 255);
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.navbar {
  margin: 0;
  height: 50px;
  box-shadow: 0px 2px 7px 0;
}

.nav-link {
  color: rgba(255, 255, 255, 0.747);
}

.nav-link:hover {
  color: white;
  font-weight: 700;
  border-bottom: 1px solid white;
}

/* nav{
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #eaeaea;
    transition: top 500ms ease-in-out;
}  */
.sobreMiImg {
  border-radius: 50%;
  width: 150px;
  margin: 10px;
}

.App {
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  opacity: 0;
}

.imgNav {
  width: 4rem;
}

#formulario {
  background-color: rgba(78, 204, 162, 0.4392156863);
  border-radius: 10px;
  box-shadow: 0px 2px 7px 0;
}

#formulario h2 {
  background-color: rgba(57, 62, 70, 0.6901960784);
  color: white;
  border-radius: 0px 0px 15px 15px;
}

#sobreMi {
  background-color: #ffffff;
}

#sobreMi h5 {
  background-color: rgba(57, 62, 70, 0.6901960784);
  color: white;
  border-radius: 0px 0px 15px 15px;
}

.tecnologias {
  display: grid;
  gap: 1.2rem;
  grid-auto-rows: 8rem;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  justify-items: center;
  margin: auto;
  background-color: rgba(78, 204, 162, 0.4392156863);
  padding: 10px;
  box-shadow: 0px 2px 7px 0px;
}

.tecnologias-items {
  width: 8rem;
  height: 8rem;
}

.tecnologias img {
  height: 70%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

#habilidades {
  background-color: rgba(57, 62, 70, 0.6901960784);
  color: white;
  border-radius: 0px 0px 15px 15px;
}

.hab-body {
  margin: 0 auto;
  max-width: 70%;
  display: block;
  align-items: center;
  overflow: hidden;
  padding: 0.625rem;
  background-color: rgba(255, 255, 255, 0.51);
  border-radius: 20px;
}

.hab-body li {
  list-style: none;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  margin: 5px;
}

.hab-li {
  overflow: hidden;
  background-color: white;
}/*# sourceMappingURL=main.css.map */