body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background-color: #EEEEEE;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.navbar {
  margin: 0;
  height: 50px;
  box-shadow: 0px 2px 7px 0;
}

.nav-link {
  color: rgba(255, 255, 255, 0.747);
}

.nav-link:hover {
  color: white;
  font-weight: 700;
  border-bottom: 1px solid white;
}

/* nav{
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #eaeaea;
    transition: top 500ms ease-in-out;
}  */
.sobreMiImg {
  border-radius: 50%;
  width: 150px;
  margin: 10px;
}

.App {
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  opacity: 0;
}

.imgNav {
  width: 4rem;
}

#formulario {
  background-color: rgba(78, 204, 162, 0.4392156863);
  border-radius: 10px;
  box-shadow: 0px 2px 7px 0;
}

#formulario h2 {
  background-color: rgba(57, 62, 70, 0.6901960784);
  color: white;
  border-radius: 0px 0px 15px 15px;
}

#sobreMi {
  background-color: #ffffff;
}

#sobreMi h5 {
  background-color: rgba(57, 62, 70, 0.6901960784);
  color: white;
  border-radius: 0px 0px 15px 15px;
}

.tecnologias {
  display: grid;
  gap: 1.2rem;
  grid-auto-rows: 8rem;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  justify-items: center;
  margin: auto;
  background-color: rgba(78, 204, 162, 0.4392156863);
  padding: 10px;
  box-shadow: 0px 2px 7px 0px;
}

.tecnologias-items {
  width: 8rem;
  height: 8rem;
}

.tecnologias img {
  height: 70%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

#habilidades {
  background-color: rgba(57, 62, 70, 0.6901960784);
  color: white;
  border-radius: 0px 0px 15px 15px;
}

.hab-body {
  margin: 0 auto;
  max-width: 70%;
  display: block;
  align-items: center;
  overflow: hidden;
  padding: 0.625rem;
  background-color: rgba(255, 255, 255, 0.51);
  border-radius: 20px;
}

.hab-body li {
  list-style: none;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  margin: 5px;
}

.hab-li {
  overflow: hidden;
  background-color: white;
}

#equipo {
  font-size: 0.6em;
  color: rgba(204, 204, 204, 0);
  border-radius: 5px 5px 5px 5px;
  width: 97%;
  background: linear-gradient(270deg, rgba(1, 138, 8, 0.8078431373), hsla(110deg, 100%, 50%, 0.692));
}

#perseverancia {
  font-size: 0.6em;
  color: rgba(204, 204, 204, 0);
  border-radius: 5px 5px 5px 5px;
  width: 90%;
  background: linear-gradient(270deg, rgba(1, 138, 8, 0.8078431373), hsla(110deg, 100%, 50%, 0.692));
}

#aprendizaje {
  font-size: 0.6em;
  color: rgba(204, 204, 204, 0);
  border-radius: 5px 5px 5px 5px;
  width: 94%;
  background: linear-gradient(270deg, rgba(1, 138, 8, 0.8078431373), hsla(110deg, 100%, 50%, 0.692));
}

#orientacion {
  font-size: 0.6em;
  color: rgba(204, 204, 204, 0);
  border-radius: 5px 5px 5px 5px;
  width: 86%;
  background: linear-gradient(270deg, rgba(1, 138, 8, 0.8078431373), hsla(110deg, 100%, 50%, 0.692));
}

#proyectos {
  background-color: rgba(57, 62, 70, 0.6901960784);
  color: white;
  border-radius: 0px 0px 15px 15px;
}

#metodologias {
  background-color: rgba(57, 62, 70, 0.6901960784);
  color: white;
  border-radius: 15px 15px 15px 15px;
}

#patrones {
  background-color: rgba(57, 62, 70, 0.6901960784);
  color: white;
  border-radius: 15px 15px 15px 15px;
}

#scrum {
  font-size: 0.6em;
  color: rgba(204, 204, 204, 0);
  border-radius: 5px 5px 5px 5px;
  background: linear-gradient(270deg, rgba(106, 1, 138, 0.8078431373), hsla(110deg, 100%, 50%, 0.692));
  width: 70%;
}

#mvc {
  font-size: 0.6em;
  color: rgba(204, 204, 204, 0);
  border-radius: 5px 5px 5px 5px;
  width: 90%;
  background: linear-gradient(270deg, rgba(1, 33, 138, 0.8078431373), hsla(110deg, 100%, 50%, 0.692));
}

#mvp {
  font-size: 0.6em;
  color: rgba(204, 204, 204, 0);
  border-radius: 5px 5px 5px 5px;
  width: 75%;
  background: linear-gradient(270deg, rgba(1, 33, 138, 0.8078431373), hsla(110deg, 100%, 50%, 0.692));
}

a {
  color: black;
  text-decoration: none;
}

.proyectoSoft {
  padding: 0;
  max-width: 100%;
  max-height: 18rem;
  transition: transform 0.2s;
}
.proyectoSoft:hover {
  transform: scale(1.1);
}

.proyecto {
  min-height: 20rem;
  max-height: auto;
  margin-bottom: 10px;
}

input, textarea {
  width: 70%;
  margin: 10px;
  border: none;
}

.fondo img {
  position: absolute;
  left: 0;
  top: 50px;
  max-width: 68.5%;
}

input:hover, textarea:hover {
  width: 74%;
  border-bottom: 1px solid rgb(0, 0, 0);
}

input[type=submit]:hover {
  background-color: rgba(57, 62, 70, 0.9843137255);
  color: white;
  font-weight: bold;
}

@-webkit-keyframes mostarBarras {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes mostarBarras {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
label {
  margin: 10px;
}

@media (max-width: 400px) {
  #formulario input, textarea {
    width: 100%;
  }
  #navbarNav {
    background-color: rgba(57, 62, 70, 0.9333333333);
  }
  .tecnologias {
    gap: 2rem;
    grid-auto-rows: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  }
  .imgNav {
    max-width: 2.7rem;
  }
}
@media (max-width: 990px) {
  #formulario input, textarea {
    width: 100%;
  }
  .fondo {
    opacity: 0;
  }
  #navbarNav {
    background-color: rgba(57, 62, 70, 0.9333333333);
  }
  .tecnologias {
    gap: 2rem;
    grid-auto-rows: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  }
  .imgNav {
    max-width: 2.7rem;
  }
}
.carga {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(57, 62, 70, 0.9333333333);
  line-height: 100vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: desvanecer 6s linear;
          animation: desvanecer 6s linear;
}

.imagenCarga {
  width: 12rem;
  -webkit-animation: logoCargaRotar 3s;
          animation: logoCargaRotar 3s;
}

.moverLogoCarga {
  -webkit-animation: logoCargaEntrada 3s;
          animation: logoCargaEntrada 3s;
  position: absolute;
}

@-webkit-keyframes logoCargaEntrada {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes logoCargaEntrada {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes logoCargaRotar {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes logoCargaRotar {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=main.css.map */